[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "motoRneuron"]
	path = motoRneuron
	url = https://github.com/tweedell/motorneuron
